:root {
    --swiper-navigation-size: 23px !important;
  }

@import "tailwindcss";
.bg-flash-sale {
  background-image: url('/images/blog/layer-1.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}