@media (min-width: 1200px) {
    .col-lg-3 {
        width: 25%;
    }
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 1200px) {
    .col-lg-9 {
        width: 75%;
    }
}
@media (min-width: 1200px) {
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
        float: left;
    }
}

.col-left-ac .block-account {
    background: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
}
.col-left-ac .block-account .title-account {
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    font-weight: 700;
    color: #4bd963;
    margin-bottom: 17px;
    text-transform: uppercase;
    margin-top: 0px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 5px;
}
.col-left-ac .block-account p {
    font-weight: 700;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    line-height: 16px;
    margin-bottom: 18px;
    color: #212B25;
    position: relative;
}
.col-left-ac .block-account ul {
    padding: 0;
    margin: 0;
}
.col-left-ac .block-account ul .title-info {
    font-weight: 400;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #212B25;
    margin-bottom: 12px;
    display: block;
}
.col-left-ac .block-account ul .title-info:hover, .col-left-ac .block-account ul .title-info.active {
    color: #4bd963;
}
h1, .title-head {
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    line-height: 22px;
    font-weight: 700;
    color: #212B25;
    text-transform: uppercase;
    margin-bottom: 17px;
    padding-top: 12px;
}
.title-head {
    margin-bottom: 20px;
}
.title-head {
    font-size: 1.14286em;
    font-weight: 700;
    color: #555;
    text-decoration: none;
    margin-top: 0;
    display: inline-block;
    width: 100%;
}
.margin-top-0 {
    margin-top: 0px !important;
}
.page_customer_account .col-right-ac .name-account {
    margin-bottom: 40px;
}
p {
    margin: 0 0 15px 0;
}